In [1]:
import pandas as pd

In [21]:
titanic_df = pd.read_csv('Titanic.csv',encoding='utf-8')
titanic_df.head()

,Name,PClass,Age,Sex,Survived
0,"Allen, Miss Elisabeth Walton",1st,29.00,female,1
1,"Allison, Miss Helen Loraine",1st,2.00,female,0
2,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0
3,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0
4,"Allison, Master Hudson Trevor",1st,0.92,male,1

In [22]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      1313 non-null   object
 1   PClass    1312 non-null   object
 2   Age       756 non-null    float64
 3   Sex       1313 non-null   object
 4   Survived  1313 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 51.4+ KB

In [27]:
titanic_df.dropna(inplace=True)

In [43]:
from sklearn.model_selection import train_test_split

X = titanic_df.iloc[: , 1:]
y = titanic_df['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=93)

In [44]:
from sklearn.linear_model import Perceptron

In [45]:
p = Perceptron(max_iter=40,eta0=0.1,random_state=100) 
p.fit(X_train,y_train)

Perceptron(eta0=0.1, max_iter=40, random_state=100)

In [46]:
y_predict = p.predict(X_test)

In [47]:
from sklearn.metrics import r2_score
r2_score(y_test, y_predict)

0.9819497455470738