In [ ]:
import pandas as pd

In [ ]:
football_dataset=pd.read_csv('/content/UEFA_CL_Player_stats.csv')
football_dataset.head()

   Unnamed: 0                name  ... substitutionsIn substitutionsOut
0           0    Robin van Persie  ...             NaN              NaN
1           1         Ashley Cole  ...             0.0              1.0
2           2  José Antonio Reyes  ...             NaN              NaN
3           3  Roman Weidenfeller  ...             0.0              0.0
4           4  Roman Weidenfeller  ...             0.0              0.0

[5 rows x 109 columns]

In [ ]:
# finding top goalscorer
goal_df = (football_dataset.groupby(['name','season year'])['goals'].sum()).reset_index(name ='total_goals')
goal_df=goal_df.sort_values(by=['season year','total_goals'],ascending=False)
season_years=set(goal_df['season year'])
top_goalscorer=pd.DataFrame(columns=['name','season year','total_goals'])
for season_year in season_years:
  df=goal_df.loc[goal_df['season year']==season_year]
  df=df.reset_index(drop=True)
  result=df.loc[df['total_goals']==(df['total_goals'].max())]
  frames=[top_goalscorer,result]
  top_goalscorer = pd.concat(frames,ignore_index=True)
print(top_goalscorer.sort_values(by=['season year'],ignore_index=True))

                    name season year total_goals
0      Cristiano Ronaldo       13/14          17
1      Cristiano Ronaldo       14/15          10
2           Lionel Messi       14/15          10
3                 Neymar       14/15          10
4      Cristiano Ronaldo       15/16          16
5      Cristiano Ronaldo       16/17          12
6      Cristiano Ronaldo       17/18          15
7           Lionel Messi       18/19          12
8     Robert Lewandowski       19/20          15
9             Diogo Jota       20/21           4
10  Erling Braut Haaland       20/21           4
11       Marcus Rashford       20/21           4
12         Álvaro Morata       20/21           4

In [ ]:
teams=set(football_dataset['team'])
football_dataset_changed=pd.DataFrame(columns=['team','season','season year','total_goals','total_yellow_cards','total_red_cards'])
for season_year in season_years:
  df_season=football_dataset.loc[football_dataset['season year']==season_year]
  df_season=df_season.reset_index(drop=True)
  # print(df_season['season'])
  for team in teams:
    df=df_season.loc[df_season['team']==team]
    df=df.reset_index(drop=True)
    football_dataset_changed=football_dataset_changed.append({'team': team,'season':df_season.loc[0,'season'],'season year':season_year, 'total_goals': df['goals'].sum(), 'total_yellow_cards': df['yellowCards'].sum(),'total_red_cards':df['redCards'].sum()}, ignore_index=True)

football_dataset_changed.to_csv('/content/football_dataset_changed.csv')
football_dataset_changed

                  team  ... total_red_cards
0         sp-tre-penne  ...             0.0
1               astana  ...             0.0
2              sevilla  ...             0.0
3       fc-midtjylland  ...             0.0
4        real-sociedad  ...             0.0
..                 ...  ...             ...
739      vfl-wolfsburg  ...             0.0
740               roma  ...             0.0
741  manchester-united  ...             0.0
742          barcelona  ...             0.0
743        dynamo-kyiv  ...             0.0

[744 rows x 6 columns]