# Question 1

In [85]:
import numpy as np
import pandas as pd

In [86]:
numbers = np.array([ 4.5 , 7.8 ,  6.5,  0.5,  8. ,  6.5, 19. , 13.5,  2.5, 17. , 19. ,
       19.5, 13. ,  12.21 ,  6.3 ,  0.5,  9.5, 13.5, 16. ,  2.5, 10.5,  8. ,
       10. , 15.5,  7.5,  0. ,  1. , 10.5,  2. , 11. ,  3. , 14. ,  3.5,
       18.5, 13. ,  1. , 14.5, 15. ,  1.52 , 15.5,  1.5,  2.8 ,  3.5,  6.5,
        12.5, 14.5, 11.5,  8. ,  10.2 ,  5.5,  0.5, 23. ,  5. ,  0.5, 17.5,
       17.5, 17.5, 15. ,  4.5, 17. , 18. , 10. ,  8.5, 14. , 18.5, 19.5,
       16.3 ,  8.5,  0. ,  9.5,  6. ,  2. ,  5. ,  9.5,  4. ,  4. ,  1. ,
        8. , 18.5, 18. , 15.5,  4.5,  1.5, 20. ,  0.5, 19. ,  4. ,  9.5,
       12.8  ])

In [87]:
for i in range(len(numbers)):
    if numbers[i]>8.5:
        numbers[i]=10+(10/i)
    else:
        numbers[i]=-0.0051*i**2+0.8586*i+3.4332
print(numbers)

[ 3.4332      4.2867      5.13        5.9631      6.786       7.5987
 11.66666667 11.42857143  9.9756     11.11111111 11.         10.90909091
 10.83333333 10.76923077 14.454      15.1647     10.625      10.58823529
 10.55555556 17.9055     10.5        19.2147     10.45454545 10.43478261
 21.102      21.7107     22.3092     10.37037037 23.4756     10.34482759
 24.6012     10.32258065 25.686      10.3030303  10.29411765 27.2367
 10.27777778 10.27027027 28.6956     10.25641026 29.6172     30.0627
 30.498      30.9231     10.22727273 10.22222222 10.2173913  32.5215
 10.20833333 33.2595     33.6132     10.19607843 34.29       34.6131
 10.18518519 10.18181818 10.17857143 10.1754386  36.0756     10.16949153
 10.16666667 10.16393443 37.062      10.15873016 10.15625    10.15384615
 10.15151515 38.0655     38.2356     10.14492754 38.5452     38.6847
 38.814      10.1369863  39.042      39.1407     39.2292     39.3075
 10.12820513 10.12658228 10.125      39.5187     39.546      10.12048193
 39.57       10.11764706 39.5532     10.11494253 10.11363636]

In [88]:
# Two ways for solve
import numpy as np
numbers = np.array([ 4.5 , 7.8 ,  6.5,  0.5,  8. ,  6.5, 19. , 13.5,  2.5, 17. , 19. ,
       19.5, 13. ,  12.21 ,  6.3 ,  0.5,  9.5, 13.5, 16. ,  2.5, 10.5,  8. ,
       10. , 15.5,  7.5,  0. ,  1. , 10.5,  2. , 11. ,  3. , 14. ,  3.5,
       18.5, 13. ,  1. , 14.5, 15. ,  1.52 , 15.5,  1.5,  2.8 ,  3.5,  6.5,
        12.5, 14.5, 11.5,  8. ,  10.2 ,  5.5,  0.5, 23. ,  5. ,  0.5, 17.5,
       17.5, 17.5, 15. ,  4.5, 17. , 18. , 10. ,  8.5, 14. , 18.5, 19.5,
       16.3 ,  8.5,  0. ,  9.5,  6. ,  2. ,  5. ,  9.5,  4. ,  4. ,  1. ,
        8. , 18.5, 18. , 15.5,  4.5,  1.5, 20. ,  0.5, 19. ,  4. ,  9.5,
       12.8  ])
x=np.sort(numbers)
s1=np.percentile(numbers, 75)
ii=int(len(x)*0.25)
# ii
# range(ii)

s2=[]
for j in range(ii):
    if numbers[j]> s1:
        s2.append(numbers[j])
print(s2)        
np.size(s2)

[19.0, 17.0, 19.0, 19.5, 16.0]

5

In [89]:
x= np.sort(numbers)
x

ii=int(len(x)*0.25)
ii
range(ii)
s=[]
for j in range(ii):
    s.append(numbers[j])
    
print(s)   
np.size(s)
#     print(j)

[4.5, 7.8, 6.5, 0.5, 8.0, 6.5, 19.0, 13.5, 2.5, 17.0, 19.0, 19.5, 13.0, 12.21, 6.3, 0.5, 9.5, 13.5, 16.0, 2.5, 10.5, 8.0]

22

In [90]:
# Reverse the sorted array
reverse_array = x[:-1]
reverse_array

array([ 0.  ,  0.  ,  0.5 ,  0.5 ,  0.5 ,  0.5 ,  0.5 ,  1.  ,  1.  ,
        1.  ,  1.5 ,  1.5 ,  1.52,  2.  ,  2.  ,  2.5 ,  2.5 ,  2.8 ,
        3.  ,  3.5 ,  3.5 ,  4.  ,  4.  ,  4.  ,  4.5 ,  4.5 ,  4.5 ,
        5.  ,  5.  ,  5.5 ,  6.  ,  6.3 ,  6.5 ,  6.5 ,  6.5 ,  7.5 ,
        7.8 ,  8.  ,  8.  ,  8.  ,  8.  ,  8.5 ,  8.5 ,  9.5 ,  9.5 ,
        9.5 ,  9.5 , 10.  , 10.  , 10.2 , 10.5 , 10.5 , 11.  , 11.5 ,
       12.21, 12.5 , 12.8 , 13.  , 13.  , 13.5 , 13.5 , 14.  , 14.  ,
       14.5 , 14.5 , 15.  , 15.  , 15.5 , 15.5 , 15.5 , 16.  , 16.3 ,
       17.  , 17.  , 17.5 , 17.5 , 17.5 , 18.  , 18.  , 18.5 , 18.5 ,
       18.5 , 19.  , 19.  , 19.  , 19.5 , 19.5 , 20.  ])

In [91]:
s1=[]
for i in range(min(np.size(s2),np.size(s))):
    s1.append(s2[i]-s[i])
print(s1)
# print(s1)    
# np.size(s2)
# np.size(s)

[14.5, 9.2, 12.5, 19.0, 8.0]

# Question 2

In [92]:
movies = pd.read_csv("C:\\Users\\1\\Desktop\\MachineLearning1-main_2\\MachineLearning1-main\\ML_Libraries\\data\\imdb_movie_rank.csv")
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [93]:
movies.dropna(inplace = False, axis=0)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [94]:
movies_sort=movies.sort_values(by=["duration"])
movies_sort

,star_rating,title,content_rating,genre,duration,actors_list
389,8.0,Freaks,UNRATED,Drama,64,"[u'Wallace Ford', u'Leila Hyams', u'Olga Bacla..."
338,8.0,Battleship Potemkin,UNRATED,History,66,"[u'Aleksandr Antonov', u'Vladimir Barsky', u'G..."
258,8.1,The Cabinet of Dr. Caligari,UNRATED,Crime,67,"[u'Werner Krauss', u'Conrad Veidt', u'Friedric..."
293,8.1,Duck Soup,PASSED,Comedy,68,"[u'Groucho Marx', u'Harpo Marx', u'Chico Marx']"
88,8.4,The Kid,NOT RATED,Comedy,68,"[u'Charles Chaplin', u'Edna Purviance', u'Jack..."
...,...,...,...,...,...,...
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."

In [95]:
long_time=movies_sort.head(5)
long_time

,star_rating,title,content_rating,genre,duration,actors_list
389,8.0,Freaks,UNRATED,Drama,64,"[u'Wallace Ford', u'Leila Hyams', u'Olga Bacla..."
338,8.0,Battleship Potemkin,UNRATED,History,66,"[u'Aleksandr Antonov', u'Vladimir Barsky', u'G..."
258,8.1,The Cabinet of Dr. Caligari,UNRATED,Crime,67,"[u'Werner Krauss', u'Conrad Veidt', u'Friedric..."
293,8.1,Duck Soup,PASSED,Comedy,68,"[u'Groucho Marx', u'Harpo Marx', u'Chico Marx']"
88,8.4,The Kid,NOT RATED,Comedy,68,"[u'Charles Chaplin', u'Edna Purviance', u'Jack..."

In [105]:
import pandas as pd
def number_film(player:list):
   movies = pd.read_csv("C:\\Users\\1\\Desktop\\MachineLearning1-main\\MachineLearning1-main\\ML_Libraries\\data\\imdb_movie_rank.csv")
   movie_acter=movies["actors_list"] 
   m=movie_acter.count()
   print(m)
# number_film(["Wallace Ford","Aleksandr Antonov" ])

In [103]:
grouped=movies.groupby(["genre"]).star_rating.mean()
grouped

genre
Action       7.884559
Adventure    7.933333
Animation    7.914516
Biography    7.862338
Comedy       7.822436
Crime        7.916935
Drama        7.902518
Family       7.850000
Fantasy      7.700000
Film-Noir    8.033333
History      8.000000
Horror       7.806897
Mystery      7.975000
Sci-Fi       7.920000
Thriller     7.680000
Western      8.255556
Name: star_rating, dtype: float64

# Question 4

pandas.crosstab(index, columns, values=None, rownames=None, colnames=None, 
               aggfunc=None, margins=False, margins_name='All', dropna=True, normalize=False)

Compute a simple cross tabulation of two (or more) factors.
By default computes a frequency table of the factors unless an array of values and an aggregation function are passed.

In [ ]:
pd.crosstab(movies.genre, movies.content_rating)

# Question 5
    
 Use corr() function to find the correlation among the columns in the dataframe using ‘Pearson’ method.
df.corr(method ='pearson')

In [ ]:
movies.corr()

# Question 3

In [ ]:
a=smovies.groupby('genre')
a.sort(by=star_rating)
a.head(3)

# Question 6

In [ ]:
ii=int(len(x)*0.75)
ii
range(ii)
s=[]
for j in range(ii):
    s.append(numbers[j])

# Question 7

pandas.pivot_table(data, values=None, index=None, columns=None, aggfunc=’mean’, fill_value=None, margins=False, dropna=True, margins_name=’All’)

create a spreadsheet-style pivot table as a DataFrame.

Levels in the pivot table will be stored in MultiIndex objects (hierarchical indexes) on the index and columns of the result DataFrame.

In [98]:
# Create a simple dataframe
   
# importing pandas as pd
import pandas as pd
import numpy as np
   
# creating a dataframe
df = pd.DataFrame({'A': ['John', 'Boby', 'Mina', 'Peter', 'Nicky'],
      'B': ['Masters', 'Graduate', 'Graduate', 'Masters', 'Graduate'],
      'C': [27, 23, 21, 23, 24]})
df

       A         B   C
0   John   Masters  27
1   Boby  Graduate  23
2   Mina  Graduate  21
3  Peter   Masters  23
4  Nicky  Graduate  24

In [99]:
# Simplest pivot table must have a dataframe
# and an index/list of index.
table = pd.pivot_table(df, index =['A', 'B'])
  
# # Creates a pivot table dataframe
table = pd.pivot_table(df, values ='A', index =['B', 'C'],
						columns =['B'], aggfunc = np.sum)

table

B           Graduate Masters
B        C
Graduate 21     Mina     NaN
         23     Boby     NaN
         24    Nicky     NaN
Masters  23      NaN   Peter
         27      NaN    John