<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=6 color=#F32500>
        <div  align=center>
            تمرین هفته دوم بوت کمپ یادگیری ماشین-
            مپصا
        </div>
        <br/>
    </font>
</div>

<div style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<div align=center>
			<font face="IranNastaliq" size=5>    
                  چون عهده نمی‌شود کسی فردا را
                <br><br>
                 حالی خوش دار این دل پر سودا را
                <br><br>
                می نوش به ماهتاب ای ماه که ماه
                <br><br>
                بسیار بتابد و نیابد ما را        			   	
                <p></p>
			</font>
        </div>
    </font>
</div>

In [4]:
import numpy as np
import pandas as pd

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال اول:‌
            </font>
        <font>
            مجموعه داده های زیر را در نظر بگیرید
        </font>
        <br/>
    </font>
</div>

In [20]:
numbers = np.array([ 4.5 , 7.8 ,  6.5,  0.5,  8. ,  6.5, 19. , 13.5,  2.5, 17. , 19. ,
       19.5, 13. ,  12.21 ,  6.3 ,  0.5,  9.5, 13.5, 16. ,  2.5, 10.5,  8. ,
       10. , 15.5,  7.5,  0. ,  1. , 10.5,  2. , 11. ,  3. , 14. ,  3.5,
       18.5, 13. ,  1. , 14.5, 15. ,  1.52 , 15.5,  1.5,  2.8 ,  3.5,  6.5,
        12.5, 14.5, 11.5,  8. ,  10.2 ,  5.5,  0.5, 23. ,  5. ,  0.5, 17.5,
       17.5, 17.5, 15. ,  4.5, 17. , 18. , 10. ,  8.5, 14. , 18.5, 19.5,
       16.3 ,  8.5,  0. ,  9.5,  6. ,  2. ,  5. ,  9.5,  4. ,  4. ,  1. ,
        8. , 18.5, 18. , 15.5,  4.5,  1.5, 20. ,  0.5, 19. ,  4. ,  9.5,
       12.8  ])

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<p></p>
        برای این مجموعه داده ها قصد داریم با دو فرمول زیر مقادیر آنها را تغییر دهیم:
<br>
۱. اگر عددی کمتر از هشت و نیم است با فرمول زیر آن عدد تغییر کند:
<br>
$$ y = 10 + \frac{x}{10} $$
<br>
۲. اگر عددیبیشتر یا مساوی هشت و نیم است با فرمول زیر آن عدد تغییر کند :
<br>
$$ y =  -0.0051x^{2} + 0.8586x + 3.4332 $$
<br>
توجه کنید که حتی بعد از تغییر باید بیشینه عدد نهایتا بیشینه عدد موجود در داده فعلی باشد. 25 درصد داده های بزرگتر را در آرایه زیر بریزید
</div>

In [23]:
maximum_value = np.max(numbers)
numbers_copy = numbers.copy()


for i in range(numbers.size):

    if numbers[i] >= 8.5 and numbers[i] != maximum_value:
        numbers_copy[i] = (-0.0051 * (numbers[i] ** 2) + 0.8586 * numbers[i] + 3.4332)
    elif numbers[i] < 8.5:
        numbers_copy[i] = 10 + (numbers[i] / 10)

numbers_copy = np.sort(numbers_copy)

p75 = np.percentile(numbers_copy, 75)
p25 = np.percentile(numbers_copy, 25)
index_p75 = np.where(numbers_copy == p75)[0][0]
index_p25 = np.where(numbers_copy == p25)[0][0]

up_25 = numbers_copy[index_p75 + 1:-1]

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<p></p>
 25 درصد داده های کوچکتر آرایه اول را در آرایه زیر بریزید
</div>

In [24]:
down_25 = numbers_copy[0:index_p25 + 1]

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
      <p></p>
        داده های متناظر دو آرایه به دست آمده را از یکدیگر کسر کنید و در یک آرایه سه بعدی که اندازه ابعاد سوم و دوم آن یک میباشد بریزید
</div>

In [25]:
result = np.subtract(up_25, down_25)
result = result.reshape((22, 1, 1))

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال دوم:‌
        </font>
در این تمرین قصد داریم به تحلیل داده های فیلم های برتر سینمای جهان به معیار imdb بپردازیم. ابتدا دادههای مربوط به فیلم را از فایل csv فراخوانی میکنیم
        <br/>
    </font>
</div>

In [36]:
movies = pd.read_csv("D:\Programming\Git Projects\Machine Learning\MachineLearning1\ML_Libraries\data\imdb_movie_rank.csv")
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [6]:
movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        در این دیتاست اگر داده ای وجود دارد که مقدار nullدارد سطرش را حذف کنید. 
        <br/>
    </font>
</div>

In [27]:
movies = movies.dropna(inplace = False, axis=0)
movies

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        فیلم ها را براساس مدت زمان فیلم به صورت نزولی مرتب کنید و پنجاه تای اول را در فایل csv با نام long_time ذخیره کنید 
        <br/>
    </font>
</div>

In [28]:
df = movies.sort_values(by='duration', ascending=False).head(50)
df.to_csv('long_time.csv')

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         تابعی بنویسید که نام بازیگر را به عنوان آرگومان بگیرد و تعداد فیلم های برتر از این لیست را که بازی کرده محاسبه کند.
        <br/>
    </font>
</div>

In [21]:
def movies_num(actor):
    count = 0
    for mov in movies['actors_list']:
        if actor in mov:
            count += 1
    return count

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         میانگین امتیاز فیلم ها را براساس ژانر نمایش به دست آورید.
        <br/>
    </font>
</div>

In [22]:
movies.groupby('genre').star_rating.mean()

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
       ستونی به این داده ها اضافه کنید که در صورت اینکه یک فیلم مدت نمایش آن 150 دقیقه و یا بیشتر بود مقدار صفر و در غیر اینصورت 1 در هر سطر این ستون قرار گیرد. دیتافریم حاصل را در یک فایل csv ذخیره کنید.
        <br/>
    </font>
</div>

In [44]:
movies['long_movies'] = (movies.duration>150).astype('int8')
movies_updated = movies.to_csv

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        عنوان ستونها را به نحوی تغییر دهید که در ستون های دارای _(آندرلاین) فاصله قرار گیرد. به عنوان مثال star_rating به star rating تبدیل می شود.
        <br/>
    </font>
</div>

In [29]:
movies.columns = movies.columns.str.replace("_", " ")
movies.head()

,star rating,title,content rating,genre,duration,actors list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        داده ها را براساس ژانر گروه بندی و مرتب کنید و از هر ژانر صرفا سه تای برتر را نمایش دهید
        <br/>
    </font>
</div>

In [22]:
group = movies.groupby('genre')
new_table = group.apply(lambda x: x.sort_values(by='star rating', ascending=False).head(3))
new_table

               star rating                                              title  \
genre
Action    3            9.0                                    The Dark Knight
          12           8.8     Star Wars: Episode V - The Empire Strikes Back
          11           8.8                                          Inception
Adventure 7            8.9      The Lord of the Rings: The Return of the King
          14           8.8              The Lord of the Rings: The Two Towers
          10           8.8  The Lord of the Rings: The Fellowship of the Ring
Animation 30           8.6                                      Spirited Away
          61           8.5                             Grave of the Fireflies
          55           8.5                                      The Lion King
Biography 8            8.9                                   Schindler's List
          18           8.7                                         Goodfellas
          31           8.6                                   The Intouchables
Comedy    25           8.6                                  Life Is Beautiful
          35           8.6                                       Modern Times
          29           8.6                                        City Lights
Crime     0            9.3                           The Shawshank Redemption
          1            9.2                                      The Godfather
          2            9.1                             The Godfather: Part II
Drama     5            8.9                                       12 Angry Men
          9            8.9                                         Fight Club
          13           8.8                                       Forrest Gump
Family    468          7.9                         E.T. the Extra-Terrestrial
          497          7.8                Willy Wonka & the Chocolate Factory
Fantasy   638          7.7                          The City of Lost Children
Film-Noir 105          8.3                                      The Third Man
          210          8.1                                              Laura
          687          7.7                                         Spellbound
History   338          8.0                                Battleship Potemkin
Horror    39           8.6                                             Psycho
          57           8.5                                              Alien
          62           8.5                                        The Shining
Mystery   38           8.6                                        Rear Window
          46           8.5                                            Memento
          76           8.4                                            Vertigo
Sci-Fi    145          8.2                                       Blade Runner
          321          8.0                                             Brazil
          408          7.9                                            Gravity
Thriller  350          8.0                                  Shadow of a Doubt
          496          7.8                                             Misery
          728          7.6                                 La piel que habito
Western   6            8.9                     The Good, the Bad and the Ugly
          26           8.6                       Once Upon a Time in the West
          59           8.5                                   Django Unchained

              content rating      genre  duration  \
genre
Action    3            PG-13     Action       152
          12              PG     Action       124
          11           PG-13     Action       148
Adventure 7            PG-13  Adventure       201
          14           PG-13  Adventure       179
          10           PG-13  Adventure       178
Animation 30              PG  Animation       125
          61         UNRATED  Animation        89
          55               G  Animation        89
Biography 8                R  Biography       195
          18               R  Biography       146
          31               R  Biography       112
Comedy    25           PG-13     Comedy       116
          35               G     Comedy        87
          29          PASSED     Comedy        87
Crime     0                R      Crime       142
          1                R      Crime       175
          2                R      Crime       200
Drama     5        NOT RATED      Drama        96
          9                R      Drama       139
          13           PG-13      Drama       142
Family    468             PG     Family       115
          497              G     Family       100
Fantasy   638              R    Fantasy       112
Film-Noir 105      NOT RATED  Film-Noir        93
          210       APPROVED  Film-Noir        88
          687        UNRATED  Film-Noir       111
History   338        UNRATED    History        66
Horror    39               R     Horror       109
          57               R     Horror       117
          62               R     Horror       146
Mystery   38        APPROVED    Mystery       112
          46               R    Mystery       113
          76        APPROVED    Mystery       128
Sci-Fi    145              R     Sci-Fi       117
          321              R     Sci-Fi       132
          408          PG-13     Sci-Fi        91
Thriller  350       APPROVED   Thriller       108
          496              R   Thriller       107
          728              R   Thriller       120
Western   6        NOT RATED    Western       161
          26           PG-13    Western       175
          59               R    Western       165

                                                     actors list
genre
Action    3    [u'Christian Bale', u'Heath Ledger', u'Aaron E...
          12   [u'Mark Hamill', u'Harrison Ford', u'Carrie Fi...
          11   [u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'...
Adventure 7    [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...
          14   [u'Elijah Wood', u'Ian McKellen', u'Viggo Mort...
          10   [u'Elijah Wood', u'Ian McKellen', u'Orlando Bl...
Animation 30   [u'Daveigh Chase', u'Suzanne Pleshette', u'Miy...
          61   [u'Tsutomu Tatsumi', u'Ayano Shiraishi', u'Ake...
          55   [u'Matthew Broderick', u'Jeremy Irons', u'Jame...
Biography 8    [u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...
          18    [u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']
          31   [u'Fran\xe7ois Cluzet', u'Omar Sy', u'Anne Le ...
Comedy    25   [u'Roberto Benigni', u'Nicoletta Braschi', u'G...
          35   [u'Charles Chaplin', u'Paulette Goddard', u'He...
          29   [u'Charles Chaplin', u'Virginia Cherrill', u'F...
Crime     0    [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
          1      [u'Marlon Brando', u'Al Pacino', u'James Caan']
          2    [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
Drama     5    [u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...
          9    [u'Brad Pitt', u'Edward Norton', u'Helena Bonh...
          13     [u'Tom Hanks', u'Robin Wright', u'Gary Sinise']
Family    468  [u'Henry Thomas', u'Drew Barrymore', u'Peter C...
          497  [u'Gene Wilder', u'Jack Albertson', u'Peter Os...
Fantasy   638  [u'Ron Perlman', u'Daniel Emilfork', u'Judith ...
Film-Noir 105  [u'Orson Welles', u'Joseph Cotten', u'Alida Va...
          210  [u'Gene Tierney', u'Dana Andrews', u'Clifton W...
          687  [u'Ingrid Bergman', u'Gregory Peck', u'Michael...
History   338  [u'Aleksandr Antonov', u'Vladimir Barsky', u'G...
Horror    39   [u'Anthony Perkins', u'Janet Leigh', u'Vera Mi...
          57   [u'Sigourney Weaver', u'Tom Skerritt', u'John ...
          62   [u'Jack Nicholson', u'Shelley Duvall', u'Danny...
Mystery   38   [u'James Stewart', u'Grace Kelly', u'Wendell C...
          46   [u'Guy Pearce', u'Carrie-Anne Moss', u'Joe Pan...
          76   [u'James Stewart', u'Kim Novak', u'Barbara Bel...
Sci-Fi    145  [u'Harrison Ford', u'Rutger Hauer', u'Sean You...
          321  [u'Jonathan Pryce', u'Kim Greist', u'Robert De...
          408  [u'Sandra Bullock', u'George Clooney', u'Ed Ha...
Thriller  350  [u'Teresa Wright', u'Joseph Cotten', u'Macdona...
          496  [u'James Caan', u'Kathy Bates', u'Richard Farn...
          728  [u'Antonio Banderas', u'Elena Anaya', u'Jan Co...
Western   6    [u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...
          26   [u'Henry Fonda', u'Charles Bronson', u'Claudia...
          59   [u'Jamie Foxx', u'Christoph Waltz', u'Leonardo...

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال سوم:‌
        </font>
        تفاوت بین متد read_table و read_csv در ماژول pandas چیست؟
        <br/>
    </font>
</div>


 # تنها تفاوت در واقع مقدار  پیشفرض ارگومان  sep است.

1. read_csv استفاده می کند از sep=','و read_table استفاده می کند از sep='\t'.

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال چهارم:‌
        </font>
       توضیح دهید crosstab در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟
        <br/>
    </font>
</div>

پاسخ کوتاه این است که چندین عملکرد مفید را برای سهولت قالب بندی و خلاصه سازی داده ها ارائه می دهد.

در مثال زیر اطلاعات موجود در دیتاست را بر اساس ژانر و و رتبه بندی محتوا آنالیز میکند.

In [37]:
pd.crosstab(movies.genre, movies.content_rating)

content_rating,APPROVED,G,GP,NC-17,NOT RATED,PASSED,PG,PG-13,R,TV-MA,UNRATED,X
genre,,,,,,,,,,,,
Action,3,1,1,0,4,1,11,44,67,0,3,0
Adventure,3,2,0,0,5,1,21,23,17,0,2,0
Animation,3,20,0,0,3,0,25,5,5,0,1,0
Biography,1,2,1,0,1,0,6,29,36,0,0,0
Comedy,9,2,1,1,16,3,23,23,73,0,4,1
Crime,6,0,0,1,7,1,6,4,87,0,11,1
Drama,12,3,0,4,24,1,25,55,143,1,9,1
Family,0,1,0,0,0,0,1,0,0,0,0,0
Fantasy,0,0,0,0,0,0,0,0,1,0,0,0
Film-Noir,1,0,0,0,1,0,0,0,0,0,1,0
History,0,0,0,0,0,0,0,0,0,0,1,0
Horror,2,0,0,1,1,0,1,2,16,0,5,1
Mystery,4,1,0,0,1,0,1,2,6,0,1,0
Sci-Fi,1,0,0,0,0,0,0,1,3,0,0,0
Thriller,1,0,0,0,0,0,1,0,3,0,0,0
Western,1,0,0,0,2,0,2,1,3,0,0,0

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال پنچم:‌
        </font>
         توضیح دهید متد corr در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟ 
        <br/>
    </font>
</div>

برای یافتن همبستگی جفتی همه ستون ها در قاب داده استفاده می شود. و این اتفاق فقط برای ستون های می افتد که مقدار عددی دارند. به شکلی که تمام ستون های که مقدار عددی ندارند نادیده گرفته می شوند.

در مثال پایین همبستگی زوجی دو ستون استار ریتینگ و طول زمان فیلم را بررسی کردیم.

In [38]:
movies.corr()

             star_rating  duration
star_rating     1.000000  0.227149
duration        0.227149  1.000000

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال سوم:‌
        </font>
        با استفاده از متد value_counts تعداد فیلمها در هر ریت محتوا را به دست آورید.
        <br/>
    </font>
</div>

In [39]:
movies["content_rating"].value_counts()

R            460
PG-13        189
PG           123
NOT RATED     65
APPROVED      47
UNRATED       38
G             32
NC-17          7
PASSED         7
X              4
GP             3
TV-MA          1
Name: content_rating, dtype: int64

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال ششم:‌
        </font>
        با استفاده از متد sample هفتاد و پنج درصد سطرها را در یک متغیر به نام sample_1 بریزید. درنهایت با استفاده از متد drop از دیتافریم اصلی این سطرها را حذف و دیتافریم جدید را در sample_2 بریزید
        <br/>
    </font>
</div>

In [42]:
smaple_1=movies.sample(frac=0.75)
smaple_2 = movies.drop(smaple_1.index)
smaple_2

,star_rating,title,content_rating,genre,duration,actors_list
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."
...,...,...,...,...,...,...
966,7.4,The Simpsons Movie,PG-13,Animation,87,"[u'Dan Castellaneta', u'Julie Kavner', u'Nancy..."
967,7.4,The Rock,R,Action,136,"[u'Sean Connery', u'Nicolas Cage', u'Ed Harris']"
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال هفتم:‌
        </font>
         متد pivot_table چه عملکردی دارد؟
        <br/>
    </font>
</div>

با استفاده از پائیت تیبل می توانیم خلاصه سازی داده ها را بشدت آسان کنیم. برای نمونه درمثال دیتاست ای ام دی بی می تواینم اطلاعات را با توجه موارد مورد نیاز حود در یک جدول به نمایش بگذاریم.