<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=6 color=#F32500>
        <div  align=center>
            تمرین هفته دوم بوت کمپ یادگیری ماشین-
            مپصا
        </div>
        <br/>
    </font>
</div>

<div style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<div align=center>
			<font face="IranNastaliq" size=5>    
                  چون عهده نمی‌شود کسی فردا را
                <br><br>
                 حالی خوش دار این دل پر سودا را
                <br><br>
                می نوش به ماهتاب ای ماه که ماه
                <br><br>
                بسیار بتابد و نیابد ما را        			   	
                <p></p>
			</font>
        </div>
    </font>
</div>

In [1]:
import numpy as np
import pandas as pd

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال اول:‌
            </font>
        <font>
            مجموعه داده های زیر را در نظر بگیرید
        </font>
        <br/>
    </font>
</div>

In [2]:
numbers = np.array([ 4.5 , 7.8 ,  6.5,  0.5,  8. ,  6.5, 19. , 13.5,  2.5, 17. , 19. ,
       19.5, 13. ,  12.21 ,  6.3 ,  0.5,  9.5, 13.5, 16. ,  2.5, 10.5,  8. ,
       10. , 15.5,  7.5,  0. ,  1. , 10.5,  2. , 11. ,  3. , 14. ,  3.5,
       18.5, 13. ,  1. , 14.5, 15. ,  1.52 , 15.5,  1.5,  2.8 ,  3.5,  6.5,
        12.5, 14.5, 11.5,  8. ,  10.2 ,  5.5,  0.5, 23. ,  5. ,  0.5, 17.5,
       17.5, 17.5, 15. ,  4.5, 17. , 18. , 10. ,  8.5, 14. , 18.5, 19.5,
       16.3 ,  8.5,  0. ,  9.5,  6. ,  2. ,  5. ,  9.5,  4. ,  4. ,  1. ,
        8. , 18.5, 18. , 15.5,  4.5,  1.5, 20. ,  0.5, 19. ,  4. ,  9.5,
       12.8  ])

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<p></p>
        برای این مجموعه داده ها قصد داریم با دو فرمول زیر مقادیر آنها را تغییر دهیم:
<br>
۱. اگر عددی کمتر از هشت و نیم است با فرمول زیر آن عدد تغییر کند:
<br>
$$ y = 10 + \frac{x}{10} $$
<br>
۲. اگر عددیبیشتر یا مساوی هشت و نیم است با فرمول زیر آن عدد تغییر کند :
<br>
$$ y =  -0.0051x^{2} + 0.8586x + 3.4332 $$
<br>
توجه کنید که حتی بعد از تغییر باید بیشینه عدد نهایتا بیشینه عدد موجود در داده فعلی باشد. 25 درصد داده های بزرگتر را در آرایه زیر بریزید
</div>

In [67]:
new_numbers = np.where(numbers<8.5, 10 + numbers / 10, -0.0051 * (numbers**2) + 0.8586 * numbers + 3.4332)
new_numbers

array([10.45      , 10.78      , 10.65      , 10.05      , 10.8       ,
       10.65      , 17.9055    , 14.094825  , 10.25      , 16.5555    ,
       17.9055    , 18.236625  , 13.7331    , 13.15637709, 10.63      ,
       10.05      , 11.129625  , 14.094825  , 15.8652    , 10.25      ,
       11.886225  , 10.8       , 11.5092    , 15.516225  , 10.75      ,
       10.        , 10.1       , 11.886225  , 10.2       , 12.2607    ,
       10.3       , 14.454     , 10.35      , 17.571825  , 13.7331    ,
       10.1       , 14.810625  , 15.1647    , 10.152     , 15.516225  ,
       10.15      , 10.28      , 10.35      , 10.65      , 13.368825  ,
       14.810625  , 12.632625  , 10.8       , 11.660316  , 10.55      ,
       10.05      , 20.4831    , 10.5       , 10.05      , 16.896825  ,
       16.896825  , 16.896825  , 15.1647    , 10.45      , 16.5555    ,
       17.2356    , 11.5092    , 10.362825  , 14.454     , 17.571825  ,
       18.236625  , 16.073361  , 10.362825  , 10.        , 11.129625  ,
       10.6       , 10.2       , 10.5       , 11.129625  , 10.4       ,
       10.4       , 10.1       , 10.8       , 17.571825  , 17.2356    ,
       15.516225  , 10.45      , 10.15      , 18.5652    , 10.05      ,
       17.9055    , 10.4       , 11.129625  , 13.587696  ])

In [85]:
top_new_twenty_five = new_numbers[new_numbers>np.percentile(new_numbers, 75)]
top_new_twenty_five.shape

(22,)

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<p></p>
 25 درصد داده های کوچکتر آرایه اول را در آرایه زیر بریزید
</div>

In [70]:
down_old_twenty_five = new_numbers[new_numbers<np.percentile(new_numbers, 25)]
down_old_twenty_five.shape

(21,)

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
      <p></p>
        داده های متناظر دو آرایه به دست آمده را از یکدیگر کسر کنید و در یک آرایه سه بعدی که اندازه ابعاد سوم و دوم آن یک میباشد بریزید
</div>

In [103]:
subtracted = top_new_twenty_five[:len(down_old_twenty_five)] - down_old_twenty_five
np.array([[subtracted]])

array([[[ 7.8555  ,  6.3055  ,  7.8555  ,  7.986625,  5.8652  ,
          5.416225,  7.371825,  5.216225, 10.1331  ,  6.796825,
          6.744825,  6.746825,  6.2755  ,  6.8856  ,  7.521825,
          8.186625,  6.073361,  7.371825,  7.1356  ,  5.366225,
          8.5152  ]]])

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال دوم:‌
        </font>
در این تمرین قصد داریم به تحلیل داده های فیلم های برتر سینمای جهان به معیار imdb بپردازیم. ابتدا دادههای مربوط به فیلم را از فایل csv فراخوانی میکنیم
        <br/>
    </font>
</div>

In [101]:
movies = pd.read_csv("imdb_movie_rank.csv")
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [102]:
movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        در این دیتاست اگر داده ای وجود دارد که مقدار nullدارد سطرش را حذف کنید. 
        <br/>
    </font>
</div>

In [104]:
movies.dropna()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        فیلم ها را براساس مدت زمان فیلم به صورت نزولی مرتب کنید و پنجاه تای اول را در فایل csv با نام long_time ذخیره کنید 
        <br/>
    </font>
</div>

In [109]:
sorted_movies = movies.sort_values(by=['duration'], ascending=False)
long_time = sorted_movies[:50].to_csv

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         تابعی بنویسید که نام بازیگر را به عنوان آرگومان بگیرد و تعداد فیلم های برتر از این لیست را که بازی کرده محاسبه کند.
        <br/>
    </font>
</div>

In [21]:
def actor_top_movies(actor):
    count = 0
    for item in movies['actors_list']:
        if actor in item:
            count += 1
    return count

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         میانگین امتیاز فیلم ها را براساس ژانر نمایش به دست آورید.
        <br/>
    </font>
</div>

In [111]:
movies.groupby('genre').star_rating.mean()

genre
Action       7.884559
Adventure    7.933333
Animation    7.914516
Biography    7.862338
Comedy       7.822436
Crime        7.916935
Drama        7.902518
Family       7.850000
Fantasy      7.700000
Film-Noir    8.033333
History      8.000000
Horror       7.806897
Mystery      7.975000
Sci-Fi       7.920000
Thriller     7.680000
Western      8.255556
Name: star_rating, dtype: float64

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
       ستونی به این داده ها اضافه کنید که در صورت اینکه یک فیلم مدت نمایش آن 150 دقیقه و یا بیشتر بود مقدار صفر و در غیر اینصورت 1 در هر سطر این ستون قرار گیرد. دیتافریم حاصل را در یک فایل csv ذخیره کنید.
        <br/>
    </font>
</div>

In [121]:
movies['long'] = (movies.duration>150).astype('int8')
long_movies_specified = movies.to_csv

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        عنوان ستونها را به نحوی تغییر دهید که در ستون های دارای _(آندرلاین) فاصله قرار گیرد. به عنوان مثال star_rating به star rating تبدیل می شود.
        <br/>
    </font>
</div>

In [189]:
headers = []
for item in movies.columns:
    item = item.replace('_', ' ')
    headers.append(item)

    
movies.columns = headers
movies.head()

,star rating,title,content rating,genre,duration,actors list,long
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",0
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",1
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",1
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",1
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",1

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        داده ها را براساس ژانر گروه بندی و مرتب کنید و از هر ژانر صرفا سه تای برتر را نمایش دهید
        <br/>
    </font>
</div>

In [183]:
group = movies.groupby('genre')
result = group.apply(lambda x: x.sort_values(by=['star rating'], ascending=False).head(3))
result

               star rating                                              title  \
genre
Action    3            9.0                                    The Dark Knight
          12           8.8     Star Wars: Episode V - The Empire Strikes Back
          11           8.8                                          Inception
Adventure 7            8.9      The Lord of the Rings: The Return of the King
          14           8.8              The Lord of the Rings: The Two Towers
          10           8.8  The Lord of the Rings: The Fellowship of the Ring
Animation 30           8.6                                      Spirited Away
          61           8.5                             Grave of the Fireflies
          55           8.5                                      The Lion King
Biography 8            8.9                                   Schindler's List
          18           8.7                                         Goodfellas
          31           8.6                                   The Intouchables
Comedy    25           8.6                                  Life Is Beautiful
          35           8.6                                       Modern Times
          29           8.6                                        City Lights
Crime     0            9.3                           The Shawshank Redemption
          1            9.2                                      The Godfather
          2            9.1                             The Godfather: Part II
Drama     5            8.9                                       12 Angry Men
          9            8.9                                         Fight Club
          13           8.8                                       Forrest Gump
Family    468          7.9                         E.T. the Extra-Terrestrial
          497          7.8                Willy Wonka & the Chocolate Factory
Fantasy   638          7.7                          The City of Lost Children
Film-Noir 105          8.3                                      The Third Man
          210          8.1                                              Laura
          687          7.7                                         Spellbound
History   338          8.0                                Battleship Potemkin
Horror    39           8.6                                             Psycho
          57           8.5                                              Alien
          62           8.5                                        The Shining
Mystery   38           8.6                                        Rear Window
          46           8.5                                            Memento
          76           8.4                                            Vertigo
Sci-Fi    145          8.2                                       Blade Runner
          321          8.0                                             Brazil
          408          7.9                                            Gravity
Thriller  350          8.0                                  Shadow of a Doubt
          496          7.8                                             Misery
          728          7.6                                 La piel que habito
Western   6            8.9                     The Good, the Bad and the Ugly
          26           8.6                       Once Upon a Time in the West
          59           8.5                                   Django Unchained

              content rating      genre  duration  \
genre
Action    3            PG-13     Action       152
          12              PG     Action       124
          11           PG-13     Action       148
Adventure 7            PG-13  Adventure       201
          14           PG-13  Adventure       179
          10           PG-13  Adventure       178
Animation 30              PG  Animation       125
          61         UNRATED  Animation        89
          55               G  Animation        89
Biography 8                R  Biography       195
          18               R  Biography       146
          31               R  Biography       112
Comedy    25           PG-13     Comedy       116
          35               G     Comedy        87
          29          PASSED     Comedy        87
Crime     0                R      Crime       142
          1                R      Crime       175
          2                R      Crime       200
Drama     5        NOT RATED      Drama        96
          9                R      Drama       139
          13           PG-13      Drama       142
Family    468             PG     Family       115
          497              G     Family       100
Fantasy   638              R    Fantasy       112
Film-Noir 105      NOT RATED  Film-Noir        93
          210       APPROVED  Film-Noir        88
          687        UNRATED  Film-Noir       111
History   338        UNRATED    History        66
Horror    39               R     Horror       109
          57               R     Horror       117
          62               R     Horror       146
Mystery   38        APPROVED    Mystery       112
          46               R    Mystery       113
          76        APPROVED    Mystery       128
Sci-Fi    145              R     Sci-Fi       117
          321              R     Sci-Fi       132
          408          PG-13     Sci-Fi        91
Thriller  350       APPROVED   Thriller       108
          496              R   Thriller       107
          728              R   Thriller       120
Western   6        NOT RATED    Western       161
          26           PG-13    Western       175
          59               R    Western       165

                                                     actors list  long
genre
Action    3    [u'Christian Bale', u'Heath Ledger', u'Aaron E...     1
          12   [u'Mark Hamill', u'Harrison Ford', u'Carrie Fi...     0
          11   [u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'...     0
Adventure 7    [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...     1
          14   [u'Elijah Wood', u'Ian McKellen', u'Viggo Mort...     1
          10   [u'Elijah Wood', u'Ian McKellen', u'Orlando Bl...     1
Animation 30   [u'Daveigh Chase', u'Suzanne Pleshette', u'Miy...     0
          61   [u'Tsutomu Tatsumi', u'Ayano Shiraishi', u'Ake...     0
          55   [u'Matthew Broderick', u'Jeremy Irons', u'Jame...     0
Biography 8    [u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...     1
          18    [u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']     0
          31   [u'Fran\xe7ois Cluzet', u'Omar Sy', u'Anne Le ...     0
Comedy    25   [u'Roberto Benigni', u'Nicoletta Braschi', u'G...     0
          35   [u'Charles Chaplin', u'Paulette Goddard', u'He...     0
          29   [u'Charles Chaplin', u'Virginia Cherrill', u'F...     0
Crime     0    [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...     0
          1      [u'Marlon Brando', u'Al Pacino', u'James Caan']     1
          2    [u'Al Pacino', u'Robert De Niro', u'Robert Duv...     1
Drama     5    [u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...     0
          9    [u'Brad Pitt', u'Edward Norton', u'Helena Bonh...     0
          13     [u'Tom Hanks', u'Robin Wright', u'Gary Sinise']     0
Family    468  [u'Henry Thomas', u'Drew Barrymore', u'Peter C...     0
          497  [u'Gene Wilder', u'Jack Albertson', u'Peter Os...     0
Fantasy   638  [u'Ron Perlman', u'Daniel Emilfork', u'Judith ...     0
Film-Noir 105  [u'Orson Welles', u'Joseph Cotten', u'Alida Va...     0
          210  [u'Gene Tierney', u'Dana Andrews', u'Clifton W...     0
          687  [u'Ingrid Bergman', u'Gregory Peck', u'Michael...     0
History   338  [u'Aleksandr Antonov', u'Vladimir Barsky', u'G...     0
Horror    39   [u'Anthony Perkins', u'Janet Leigh', u'Vera Mi...     0
          57   [u'Sigourney Weaver', u'Tom Skerritt', u'John ...     0
          62   [u'Jack Nicholson', u'Shelley Duvall', u'Danny...     0
Mystery   38   [u'James Stewart', u'Grace Kelly', u'Wendell C...     0
          46   [u'Guy Pearce', u'Carrie-Anne Moss', u'Joe Pan...     0
          76   [u'James Stewart', u'Kim Novak', u'Barbara Bel...     0
Sci-Fi    145  [u'Harrison Ford', u'Rutger Hauer', u'Sean You...     0
          321  [u'Jonathan Pryce', u'Kim Greist', u'Robert De...     0
          408  [u'Sandra Bullock', u'George Clooney', u'Ed Ha...     0
Thriller  350  [u'Teresa Wright', u'Joseph Cotten', u'Macdona...     0
          496  [u'James Caan', u'Kathy Bates', u'Richard Farn...     0
          728  [u'Antonio Banderas', u'Elena Anaya', u'Jan Co...     0
Western   6    [u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...     1
          26   [u'Henry Fonda', u'Charles Bronson', u'Claudia...     1
          59   [u'Jamie Foxx', u'Christoph Waltz', u'Leonardo...     1

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال سوم:‌
        </font>
        تفاوت بین متد read_table و read_csv در ماژول pandas چیست؟
        <br/>
    </font>
</div>

 <div dir="rtl">
    
در اصل هر دو یک کار را انجام می‌دهند؛ ولی تفاوت در برخی دیفالت‌ها (مانند روش مشخص کردن ویرگول و کامنت) باعث تفاوت‌های جزئی در رفتار و سرعت آن‌ها می‌شود و شاید جابه‌جا نوشتن آن‌ها باعث ارور دادن بشود. </div>

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال چهارم:‌
        </font>
       توضیح دهید crosstab در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟
        <br/>
    </font>
</div>

جدولی از فاکتورهای ورودی رسم می‌کند. در مثال زیر جدولی از امتیازها بر اساس ژانر ایجاد می‌کند.

In [188]:
pd.crosstab(movies.genre, movies.content_rating)

AttributeError: 'DataFrame' object has no attribute 'content_rating'

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال پنچم:‌
        </font>
         توضیح دهید متد corr در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟ 
        <br/>
    </font>
</div>

جدولی تحویل می‌دهد که در آن رابطه‌ی دوبه‌دو بین تمام فاکتورهای سطری و ستونی بررسی شده و نسبت آن‌ها آورده شده است. در کد زیر سه فاکتور عددی در دیتافریم با هم مقایسه شده‌اند. به عنوان مثال مشخص است که زمان فیلم نسبت کمی با امتیازش دارد.

In [190]:
movies.corr()

             star rating  duration      long
star rating     1.000000  0.227149  0.224618
duration        0.227149  1.000000  0.740533
long            0.224618  0.740533  1.000000

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال سوم:‌
        </font>
        با استفاده از متد value_counts تعداد فیلمها در هر ریت محتوا را به دست آورید.
        <br/>
    </font>
</div>

In [195]:
movies.value_counts('star rating')

star rating
7.6    124
7.8    116
7.7    113
7.5    108
8.1    103
8.0     97
7.9     75
8.2     51
7.4     49
8.3     43
8.4     37
8.5     23
8.6     15
8.7     10
8.9      6
8.8      5
9.0      1
9.1      1
9.2      1
9.3      1
dtype: int64

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال ششم:‌
        </font>
        با استفاده از متد sample هفتاد و پنج درصد سطرها را در یک متغیر به نام sample_1 بریزید. درنهایت با استفاده از متد drop از دیتافریم اصلی این سطرها را حذف و دیتافریم جدید را در sample_2 بریزید
        <br/>
    </font>
</div>

In [199]:
sample_1 = movies.sample(frac=0.75)
sample_2 = movies.drop(sample_1.index)

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال هفتم:‌
        </font>
         متد pivot_table چه عملکردی دارد؟
        <br/>
    </font>
</div>

دیتاهای ستونی را می‌گیرد و در یک جدول دوبعدی گروه‌بندی می‌کند.